---
breadcrumbs:
  - href: "/en/"
    text: "GCDS Examples"
contentHeader: "Basic page template (en)"
dateModified: "2025-08-15"
description: "A simple, clean template demonstrating basic page structure with common GCDS components."
title: "Basic page template (en)"
showDefaultBreadcrumbs: false
---

<section>
  <gcds-heading tag="h2">Section 1</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>

  <gcds-heading tag="h3">Subsection heading</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>

  <gcds-heading tag="h3">Subsection heading</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>
  </section>

  <section>
  <gcds-heading tag="h2">Section 2</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>
  </section>

  <section>
  <gcds-heading tag="h2">Section 3</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>
</section>