---
breadcrumbs:
  - href: "/fr"
    text: "Exemples SCGC"
contentHeader: "Modèle de page de base (FR)"
dateModified: "2025-08-15"
description: "Un modèle simple et épuré démontrant la structure de base d'une page avec des composants GCDS courants."
title: "Modèle de page de base (FR)"
showDefaultBreadcrumbs: false
---

<section>
  <gcds-heading tag="h2">Section 1</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>

  <gcds-heading tag="h3">Entête de sous-section</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>

  <gcds-heading tag="h3">Entête de sous-section</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>
  </section>

  <section>
  <gcds-heading tag="h2">Section 2</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>
  </section>

  <section>
  <gcds-heading tag="h2">Section 3</gcds-heading>
  <gcds-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Turp is
    egestas maecenas pharetra convallis posuere morbi leo urna.
  </gcds-text>
</section>